
.BlogPTitle a
{
	color: #0099cc;
	font-weight: bold;
}

.BlogPTitle
{
	font-size:30px;
	color: #0099cc;
	border-bottom: solid 1px #0099cc;
	
}

.BlogPTitleDetail {
	font-size:30px;
	border-bottom: 1px solid #0099cc;
	color:#0099cc;
	font-weight:bold;
	margin-bottom:10px;
}

.BlogPBody
{
	padding-top: 10px; 
}

.BlogPBody img
{
	border: none;
}

.BlogPDateWhole
{
	background-color: #ffffff;
	font-size:9pt;
	padding-bottom:15px;
}

.BlogTagsWhole {
	font-style:italic;
	background-color:#eaeaea;
}

.BlogPostSummaryText {
	font-size:13pt;
	line-height:13pt;
	font-style:italic;
	color:#006699;
}

.EditContributionEdit {
	padding-right:10px;
	margin-right:10px;
	font-size:10pt;
	border-right: 1px solid #cccccc;
}

.EditContributionDelete {
	font-size:10pt;
}

.comments hr
{
	border: solid 1px #cccccc;
}

.BlogCommentsTitle
{
	font-weight: bold;
	font-size: 140%;
	color:#ff9900;
	
}

.BlogLeaveComment 
{
	font-weight: bold;
	font-size: 110%;
}

.blogDetail .comments .TextAreaField
{
	width: 280px;
}

.TextAreaField
{
	width: 280px;
	height: 100px;
}

.IE7 .PageTitleHeader table
{
	text-align: left;
}

.FeedLink .FeedIcon
{
	vertical-align: middle;
	padding: 0px 5px 0px 0px;
}

.RTL .FeedLink .FeedIcon
{
	padding: 0px 0px 0px 5px;
}

#p_lt_contentBody_CommentView_commentView_lblInfo {
	visibility:hidden;
}

/*#Content rating#*/
.ratingStar
{
    font-size: 0pt;
    width: 13px;
    height: 12px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    display: block;
    background-repeat: no-repeat;
}

.filledRatingStar {
    background-image:url(../../../App_Themes/Default/Images/Design/Controls/ContentRating/FilledStar.png)

}

.emptyRatingStar {
    background-image: url(../../../App_Themes/Default/Images/Design/Controls/ContentRating/EmptyStar.png);
}

.savedRatingStar {
    background-image: url(../../../App_Themes/Default/Images/Design/Controls/ContentRating/SavedStar.png);
}

.CntRatingResult
{
    clear:left;
    padding-top:5px;
}

.CntRatingRadioTable tr
{
    text-align: center;
}

.buttonpedding {
	border-bottom:1px solid #cccccc;
	padding-bottom:8px;
	margin-bottom:12px;
}

.CommentUserName {
	color:#069;
	font-weight:bold;
}

.CommentDate {
	font-size:10pt;
}

.blogdescription {
	font-size:12px;
	line-height:13px;
	margin-bottom:25px;
}

#blog_sideboxes {
	background-color:#eaeaea;
	border-bottom:5px solid #dadada;
	padding-top:0;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:10px;
	margin-bottom:25px;
}

.sidebarhead {
	font-size:24px;
	color:#666666;
	margin:0;
}

#blogheader {
	background:#ff9900;
	height: 40px;
	width: 100%;
	-webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.3);
	box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.3);
	z-index:1000;
}

#head_wrap {
	width: 960px;
	margin: 0 auto;
	padding-top: 6px;
}

#blog_logo {
	width: 250px;
	float: left;
	margin-left: 36px;
}

#toplinks {
	text-align:right;
	margin-left:36px;
	color:#ffffff;
}

#p_lt_contentBody_CommentView_commentView_ctrlCommentEdit_chkSubscribe {
	margin-right:7px;
}

#mainblogimage {
	padding:0;
	margin:0;
	background-image:url("/MergeHealthcare/media/design/blog-mainimage.jpg");
	width:1025px;
	height:200px;
	z-index:500;
}
#blognavigation {
		background: #e1e1e1;
	background: 			url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2MxYzFjMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #c1c1c1 0%, #eeeeee 11%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c1c1c1), color-stop(11%,#eeeeee), color-stop(100%,#cccccc)); 
	background: -webkit-linear-gradient(top, #c1c1c1 0%,#eeeeee 11%,#cccccc 100%); 
	background: -o-linear-gradient(top, #c1c1c1 0%,#eeeeee 11%,#cccccc 100%); 
	background: -ms-linear-gradient(top, #c1c1c1 0%,#eeeeee 11%,#cccccc 100%);
	background: linear-gradient(to bottom, #c1c1c1 0%,#eeeeee 11%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#c1c1c1',GradientType=0 );	
	padding: 1px;
	font-size: 9pt;
	height:40px;
}

#blognavigation_text {
	color:#ffffff;
	text-transform:uppercase;
	font-size:13pt;
	margin-left:65px;
	margin-top:8px;
}

#blogtitle {
	font-size:40pt;
	color:#006699;
}

#bigicon {
	background-image: url("/MergeHealthcare/media/design/EI-icon-blog.png");
	width:255px;
	height:255px;
	z-index:5000;
	float: right;
	clear: none;
	margin-right: 40px;
	margin-left: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
	position: relative;
}
	