/*--------------------------------------------------------------------------------------*/ 
/*	Executives			*/ 
/*--------------------------------------------------------------------------------------*/
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane1_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane2_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane3_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane4_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane5_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane6_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane7_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane8_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyLeft_AccordionLayout_pane9_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane1_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane2_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane3_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane4_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane5_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane6_content,
#p_lt_mainContentSlug_pageContentMain_pageContentMain_lt_NewsCopyRight_BoD_pane7_content
 {
	font-size: 11pt;
	line-height: 1.6;
	margin-bottom: 0;
}

.accordian-header {
	padding: 0;
	margin: 0;
	line-height: 1.75;
}

.exec_portrait {
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-top: 6px; 
}

.testimonials_tables h2 {
	border-top: 1px solid #eee;
}