.merge_blog_logo {
	background-image: url('png/merge_blog_logo.png');
	background-repeat: no-repeat;
}
.merge_lower_logo {
	background-image: url('png/merge_lower_logo.png');
	background-repeat: no-repeat;
}
