/*-- Header, but not the nav --*/ 
#header {
	background:#ff9900;
	height: 90px;
	width: 100%;
}

#head_wrap {
	width: 960px;
	margin: 0 auto;
	padding-top: 36px;
}

#big_logo {
	width: 250px;
	float: left;
	margin-left: 36px;
}