$main-orange: #ff9900;
$main-blue: #0099cc;
$dark-blue: #006699;

@import "normalize";

@import "container";

@import "logo";

@import "search";

@import "main_structure";

@import "vertical_tabs";

@import "super_menu";

@import "links";

@import "old_columns";

@import "herosolutions";

@import "mainpage";

@import "solutions_subpages";

@import "contact_sidebar";

@import "related_resources";

@import "related_products";

@import "datasheets";

@import "trends";

@import "contact_page";

@import "merge_tabs";

@import "subtabs";

@import "footer";

@import "helpers";

@import "print";

@import "temp_solutions";

@import "sitemap";

@import "client_table";

@import "executives";

@import "forum";

@import "bjqs";

@import "news_articles";

@import "eyeee10";