/*--------------------------------------------------------------------------------------*/ 
/*	Custom tabs on Solutions pages.			*/ 
/*--------------------------------------------------------------------------------------*/
div.mergeTabs {
	margin-top: 0px !important;
}


.mergeTabs .ajax__tab_header {
	height: 14px;
	font-family: "proxima-nova", "Proxima Nova", Arial !important;
	font-size: 11px;
	font-weight: bold;
	color: #555;
	background: #fff;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
}

.mergeTabs .ajax__tab_outer {
	height: 33px;
	padding-right: 3px;
	margin-right: 18px;
	background: #eee;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
}

.mergeTabs .ajax__tab_inner {
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 2px;
	background: #eee;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
}

.mergeTabs .ajax__tab_tab {
	height: 10px;
	padding: 8px;
	margin: 0;
	background: #eee;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
}

.mergeTabs .ajax__tab_hover .ajax__tab_outer {	
	cursor: pointer;
	color: #fff;
	background: #eee;
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
	background: rgb(255,197,117); 
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmYTUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,197,117,1) 0%, rgba(255,165,30,1) 40%, rgba(255,153,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,117,1)), color-stop(40%,rgba(255,165,30,1)), color-stop(100%,rgba(255,153,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc575', endColorstr='#ff9900',GradientType=0 ); /* IE6-8 */	
}

.mergeTabs .ajax__tab_hover .ajax__tab_inner {
	cursor: pointer;
	background: #eee;
	color: #fff;	
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
	background: rgb(255,197,117); 
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmYTUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,197,117,1) 0%, rgba(255,165,30,1) 40%, rgba(255,153,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,117,1)), color-stop(40%,rgba(255,165,30,1)), color-stop(100%,rgba(255,153,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc575', endColorstr='#ff9900',GradientType=0 ); /* IE6-8 */	
}

.mergeTabs .ajax__tab_hover .ajax__tab_tab {
	cursor: pointer;
	background: #eee;
	color: #fff;	
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;	
	background: rgb(255,197,117); 
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmYTUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,197,117,1) 0%, rgba(255,165,30,1) 40%, rgba(255,153,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,117,1)), color-stop(40%,rgba(255,165,30,1)), color-stop(100%,rgba(255,153,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc575', endColorstr='#ff9900',GradientType=0 ); /* IE6-8 */	
}
.mergeTabs .ajax__tab_active .ajax__tab_outer {
	background: rgb(255,197,117); 
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmYTUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,197,117,1) 0%, rgba(255,165,30,1) 40%, rgba(255,153,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,117,1)), color-stop(40%,rgba(255,165,30,1)), color-stop(100%,rgba(255,153,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc575', endColorstr='#ff9900',GradientType=0 ); /* IE6-8 */	
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.mergeTabs .ajax__tab_active .ajax__tab_inner {
	background: rgb(255,197,117); 
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmYTUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,197,117,1) 0%, rgba(255,165,30,1) 40%, rgba(255,153,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,117,1)), color-stop(40%,rgba(255,165,30,1)), color-stop(100%,rgba(255,153,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc575', endColorstr='#ff9900',GradientType=0 ); /* IE6-8 */	
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
}
.mergeTabs .ajax__tab_active .ajax__tab_tab {
	background: rgb(255,197,117); 
	
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYzU3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iI2ZmYTUxZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(255,197,117,1) 0%, rgba(255,165,30,1) 40%, rgba(255,153,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,197,117,1)), color-stop(40%,rgba(255,165,30,1)), color-stop(100%,rgba(255,153,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(255,197,117,1) 0%,rgba(255,165,30,1) 40%,rgba(255,153,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc575', endColorstr='#ff9900',GradientType=0 ); /* IE6-8 */	
	-webkit-border-radius: 6px 6px 0px 0px;
	border-radius: 6px 6px 0px 0px;
	color: #fff;
}
.mergeTabs .ajax__tab_disabled {
	color: #A0A0A0;
}
.mergeTabs .ajax__tab_body {
	font-family: "proxima-nova-1", "Proxima Nova", "Lucida Grande", Calibri, Arial, sans-serif;
	border: none;
	padding: 0;
	margin-top: 19px;
	background-color: #ffffff;
	border-top: 1px solid #eee;
	overflow: hidden;
}
