#trends_resources {
	clear: both;
	width: 100%;
	padding-top: 2px;
	border-top: 1px solid #999;
	margin-top: 0px;
}

#trends_resources h3 {
	font-size: 17pt;
	color: #555555;
	font-weight: normal;
	line-height: 0;	
}
